body{
  background-color: lightslategray;
}

p{
  width: 300px;
  background-color: #0F4069;
  padding: 20px;
  margin: auto;
  color: whitesmoke;
  border: 2px solid whitesmoke;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
}