@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Inter:wght@400;500;700&family=Montserrat:wght@200&family=Raleway:ital,wght@0,200;1,200&family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Inter:wght@400;500;700&family=Montserrat:wght@200&family=Orienta&family=Raleway:ital,wght@0,200;1,200&family=Righteous&display=swap');

body{
  background-color: darkred;
  text-align: center;
  width: 700px;
  margin: 0 auto;
}

h1{
  font-family: 'Righteous';
  color: #fff;
  font-size: 45px;
  font-weight: normal;
  line-height: 60px;
  text-transform: uppercase;
}

h2{
  font-size: 30px;
  line-height: 50px;
  text-transform: uppercase;
  color: #DFBF84;
 letter-spacing: -1px; 
}


p{
  color: #f6f6f6;
  font-family: 'Orienta', sans-serif;
  font-size: 16px;
  line-height: 24px;
}