html{
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3{
  font-family: Georgia, 'Times New Roman', Times, serif;
  line-height: 1.2;
}

section{
  display: flex;
  max-width: 70vw;
  justify-content: space-between;
  gap: 2em;
  margin: 0 auto;
}

article{
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 20%;
}