*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  font-family: Arial, Helvetica, sans-serif;
}
body{
  margin: 2em;
}

.container{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 15vw;
  max-height: 25rem;
  gap: 4px;
}

span{
  border: 1px solid black;
  padding: 0.3em;
  text-align: center;
  display: inline-block;
  font-size: 22px;
  border-radius: 3px;
}

.a1{
  order: 1
}

.a2{order:2}
.a3{order:3}
.a4{order:4}
.a5{order:5}
.a6{order:6}
.a7{order:7}
.a8{order:8}
.a9{order:9}
.a10{order:10}
.a11{order:11}
.a12{order:12}
.a13{order:13}